################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SelfService/obj/Debug
/.vs/SelfService/v15/Server/sqlite3
/SelfService/bin/Debug
